.cont-products-list{
    display: flex;
    width: 70%;
    height: auto;
    align-items: center;
    margin: 2.5rem auto auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Resonsive 1440px */
@media (max-width: 1440px){
    .cont-products-list{
        width: 75%;
        gap: 2rem;
        align-items: center;
    }
}

/* Responsive 1024px */
@media (max-width: 1024px){
    .cont-products-list{
        width: 90%;
    }
}

/* Responsive 887px */
@media (max-width: 887px){
    .cont-products-list{
        justify-content: space-around;
    }
}

/* Responsive 768px */
@media (max-width: 768px){
    .cont-products-list{
        width: 87.5%;
    }
}

/* Responsive 425px */
@media (max-width: 425px){
    .cont-products-list{
        margin: 3rem auto auto;
    }
}